{
   "openapi":"3.0.1",
   "info":{
      "title":"Event Portal Open API",
      "description":"# REST API Concepts\n\nSolace PubSub+ Event Portal provides a RESTful API that you can use to manage your data in PubSub+ Cloud. The REST API allows you to model your event-driven architectures from your own client applications.\n\nThe following document describes the public REST APIs available in the event portal.\n\n",
      "version":"v1"
   },
   "servers":[
      {
         "url":"https://solace.cloud",
         "description":"Solace PubSub+ Cloud"
      }
   ],
   "security":[
      {
         "APIToken":[

         ]
      }
   ],
   "paths":{
      "/api/v1/eventPortal/applicationDomains/{id}":{
         "get":{
            "tags":[
               "Application Domains"
            ],
            "summary":"Retrieves an application domain object",
            "description":"Use this API to retrieve a single application domain by its ID.",
            "operationId":"get",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application domain object.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The application domain object.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/ApplicationDomainResponse"
                        }
                     }
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "Application Domains"
            ],
            "summary":"Deletes an application domain object",
            "description":"Use this API to delete an application domain. This action also deletes all applications, events, and schemas in the application domain. You cannot undo this operation.",
            "operationId":"delete",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application domain object.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "204":{
                  "description":"No content is returned."
               }
            }
         },
         "patch":{
            "tags":[
               "Application Domains"
            ],
            "summary":"Updates an application domain object",
            "description":"Use this API to update an application domain. You only need to specify the field that needs to be updated.",
            "operationId":"update",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application domain object.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"The application domain object.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/ApplicationDomain"
                     }
                  }
               }
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The updated application domain object.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/ApplicationDomainResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/applicationDomains":{
         "get":{
            "tags":[
               "Application Domains"
            ],
            "summary":"Gets the application domain objects",
            "description":"Use this API to retrieve a list of application domains that match the given parameters.",
            "operationId":"list",
            "parameters":[
               {
                  "name":"pageSize",
                  "in":"query",
                  "description":"The number of application domains to get per page. Min: 1 Max: 100",
                  "required":false,
                  "schema":{
                     "type":"integer",
                     "format":"int32",
                     "default":20
                  }
               },
               {
                  "name":"pageNumber",
                  "in":"query",
                  "description":"The page number to get. Min: 1",
                  "required":false,
                  "schema":{
                     "type":"integer",
                     "format":"int32",
                     "default":1
                  }
               },
               {
                  "name":"name",
                  "in":"query",
                  "description":"Name to be used to match the application domain.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"ids",
                  "in":"query",
                  "description":"Match only application domains with the given IDs separated by commas",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"topicDomain",
                  "in":"query",
                  "description":"Match only application domains with the given topic domain.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Retrieve a list of application domains and the accompanying metadata.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/ApplicationDomainsResponse"
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Application Domains"
            ],
            "summary":"Creates an application domain object.",
            "description":"To help keep your event-driven architecture organized, use application domains to create namespaces for your applications, events and schemas.",
            "operationId":"create",
            "requestBody":{
               "description":"Application domains have a name and topic domain.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/ApplicationDomain"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "201":{
                  "description":"Created. The newly saved application domain object is returned in the response body.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/ApplicationDomainResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/applicationDomains/{id}/owners":{
         "get":{
            "tags":[
               "Application Domains"
            ],
            "summary":"Retrieves the owners of an application domain.",
            "description":"Use this API to retrieve all of the owners of an application domain. Owners are referenced by their user ID.",
            "operationId":"list_1",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application domain to retrieve the owners.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"An array of owners identified by their user ID.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/IdsResponse"
                        }
                     }
                  }
               }
            }
         },
         "put":{
            "tags":[
               "Application Domains"
            ],
            "summary":"Updates the owners of an application domain",
            "description":"Use this API to update all of the owners of an application domain. Owners are referenced by their user ID.",
            "operationId":"update_1",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application domain object to update.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"A list of user IDs.",
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        }
                     }
                  }
               }
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The updated application domain object.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/IdsResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/applications/{id}":{
         "get":{
            "tags":[
               "Applications"
            ],
            "summary":"Retrieves an application object",
            "description":"Use this API to retrieve a single application by its ID.",
            "operationId":"get_1",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application object.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The application object.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/ApplicationResponse"
                        }
                     }
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "Applications"
            ],
            "summary":"Deletes an application object",
            "description":"Use this API to delete an application. If the application never existed or is already deleted, the operation will still be successful.",
            "operationId":"delete_1",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the Schema application",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "204":{
                  "description":"No content is returned."
               }
            }
         },
         "patch":{
            "tags":[
               "Applications"
            ],
            "summary":"Updates an application object.",
            "description":"Use this API to update an application. You only need to specify the field that needs to be updated.",
            "operationId":"update_2",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application object to update.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"The application object.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/Application"
                     }
                  }
               }
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The updated application object.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/ApplicationResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/applications":{
         "get":{
            "tags":[
               "Applications"
            ],
            "summary":"Gets the application objects",
            "description":"Use this API to retrieve a list of applications that match the given parameters.",
            "operationId":"list_2",
            "parameters":[
               {
                  "name":"pageSize",
                  "in":"query",
                  "description":"The number of applications to get per page. Min: 1 Max: 100",
                  "required":false,
                  "schema":{
                     "type":"integer",
                     "format":"int32",
                     "default":20
                  }
               },
               {
                  "name":"pageNumber",
                  "in":"query",
                  "description":"The page number to get. Min: 1",
                  "required":false,
                  "schema":{
                     "type":"integer",
                     "format":"int32",
                     "default":1
                  }
               },
               {
                  "name":"name",
                  "in":"query",
                  "description":"Name of the application to match on.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"applicationDomainId",
                  "in":"query",
                  "description":"Match only applications in the given application domain.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"ids",
                  "in":"query",
                  "description":"Match only applications with the given IDs separated by commas.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"applicationClass",
                  "in":"query",
                  "description":"Match only applications with the given application class.",
                  "required":false,
                  "schema":{
                     "type":"string",
                     "enum":[
                        "unspecified",
                        "kafka_connector",
                        "solace_connector",
                        "kafka_application"
                     ]
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Retrieve a list of applications and the accompanying metadata.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/ApplicationsResponse"
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Applications"
            ],
            "summary":"Creates an application object",
            "description":"To model your event-driven architecture, applications are a fundamental building block for modelling the producers and consumers of events. Use this API to create applications and model the events they produce and consume.",
            "operationId":"create_1",
            "requestBody":{
               "description":"Applications have a name and live within an application domain. Events can be added to the application as produced or consumed.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/Application"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "201":{
                  "description":"Created. Returns the newly saved application object in the response body.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/ApplicationResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/applications/{id}/tags":{
         "get":{
            "tags":[
               "Applications"
            ],
            "summary":"Retrieves the tags of an application",
            "description":"Use this API to retrieve all of the tags of an application. Tags are referenced by their tag ID.",
            "operationId":"list_3",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application to retrieve the tags.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"An array of tags identified by their tag ID.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/IdsResponse"
                        }
                     }
                  }
               }
            }
         },
         "put":{
            "tags":[
               "Applications"
            ],
            "summary":"Updates the tags of an application",
            "description":"Use this API to update all of the tags of an application. Tags are referenced by their tag ID.",
            "operationId":"update_3",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application object to update.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"A list of tag IDs",
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        }
                     }
                  }
               }
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"An array of the updated tags identified by their tag ID",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/IdsResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/applications/{id}/owners":{
         "get":{
            "tags":[
               "Applications"
            ],
            "summary":"Retrieves the owners of an application",
            "description":"Use this API to retrieve all of the owners of an application. Owners are referenced by their user ID.",
            "operationId":"list_4",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application to retrieve the owners.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"An array of owners identified by their user ID.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/IdsResponse"
                        }
                     }
                  }
               }
            }
         },
         "put":{
            "tags":[
               "Applications"
            ],
            "summary":"Updates the owners of an application",
            "description":"Use this API to update all the owners of an application. Owners are referenced by their user ID.",
            "operationId":"update_4",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application object to update.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"A list of user IDs",
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        }
                     }
                  }
               }
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"An array of updated owners identified by their user ID",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/IdsResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/applications/{id}/generateAsyncApiRequest":{
         "post":{
            "tags":[
               "AsyncAPI"
            ],
            "summary":"Generates an AsyncApi document from an event portal application",
            "description":"Use this API to generate the AsyncApi document of an application object.",
            "operationId":"generateAsyncApi",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the application object",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"The version of the AsyncApi specification that you want to generate.",
               "content":{
                  "application/json":{
                     "schema":{
                        "$ref":"#/components/schemas/GenerateAsyncAPIRequest"
                     }
                  }
               }
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Returns the AsyncApi document as a string.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"string"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/events":{
         "get":{
            "tags":[
               "Events"
            ],
            "summary":"Gets the event objects.",
            "description":"Use this API to retrieve a list of events that match the given parameters.",
            "operationId":"list_5",
            "parameters":[
               {
                  "name":"pageSize",
                  "in":"query",
                  "description":"The number of events to get per page. Min: 1 Max: 100",
                  "required":false,
                  "schema":{
                     "type":"integer",
                     "format":"int32",
                     "default":20
                  }
               },
               {
                  "name":"pageNumber",
                  "in":"query",
                  "description":"The page number to get. Min: 1",
                  "required":false,
                  "schema":{
                     "type":"integer",
                     "format":"int32",
                     "default":1
                  }
               },
               {
                  "name":"name",
                  "in":"query",
                  "description":"Name of the event to match on.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"topicName",
                  "in":"query",
                  "description":"Topic name of the event to match on.",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"brokerType",
                  "in":"query",
                  "description":"Broker type of the event to match on.",
                  "required":false,
                  "schema":{
                     "type":"string",
                     "enum":[
                        "unspecified",
                        "solace",
                        "kafka"
                     ]
                  }
               },
               {
                  "name":"shared",
                  "in":"query",
                  "description":"Match only on shared or unshared events",
                  "required":false,
                  "schema":{
                     "type":"boolean"
                  }
               },
               {
                  "name":"schemaId",
                  "in":"query",
                  "description":"Match only events which use the given schema",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"keySchemaId",
                  "in":"query",
                  "description":"Match only events which use the given key schema",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"applicationDomainId",
                  "in":"query",
                  "description":"Match only events in the given application domain",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"ids",
                  "in":"query",
                  "description":"Match only events with the given ids separated by commas",
                  "required":false,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"Retrieve a list of events and the accompanying metadata.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EventsResponse"
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "tags":[
               "Events"
            ],
            "summary":"Creates an event object",
            "description":"Events are the primary building block of an event-driven architecture. Applications publish and subscribe to events and events reference schemas. Events are created with a topic that they are published to, and subscribers subscribe to that topic to receive events from the event broker.In the event portal, an event is a type of event as opposed to a specific event instance.",
            "operationId":"add",
            "requestBody":{
               "description":"The event requires a name and a topic.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/Event"
                     }
                  }
               },
               "required":true
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "201":{
                  "description":"Created. The newly saved event object is returned in the response body.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EventResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/events/{id}":{
         "get":{
            "tags":[
               "Events"
            ],
            "summary":"Retrieves an event object.",
            "description":"Use this API to retrieve a single event by its ID.",
            "operationId":"get_2",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the event object.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The event object.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EventResponse"
                        }
                     }
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "Events"
            ],
            "summary":"Deletes an event object",
            "description":"Use this API to delete an event. The event must not be in use by any applications else it cannot be deleted.",
            "operationId":"delete_2",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the event object.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "204":{
                  "description":"No content is returned."
               }
            }
         },
         "patch":{
            "tags":[
               "Events"
            ],
            "summary":"Updates an event object",
            "description":"Use this API to update an event. You only need to specify the field that needs to be updated.",
            "operationId":"update_5",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the event object to update.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"The event object.",
               "content":{
                  "application/json;charset=UTF-8":{
                     "schema":{
                        "$ref":"#/components/schemas/Event"
                     }
                  }
               }
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"The updated event object.",
                  "content":{
                     "application/json;charset=UTF-8":{
                        "schema":{
                           "$ref":"#/components/schemas/EventResponse"
                        }
                     }
                  }
               }
            }
         }
      },
      "/api/v1/eventPortal/events/{id}/tags":{
         "get":{
            "tags":[
               "Events"
            ],
            "summary":"Retrieves the tags of an event",
            "description":"Use this API to retrieve all of the tags of an event. Tags are referenced by their tag ID.",
            "operationId":"list_6",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the event to retrieve the tags.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "200":{
                  "description":"An array of tags identified by their tag ID",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/IdsResponse"
                        }
                     }
                  }
               }
            }
         },
         "put":{
            "tags":[
               "Events"
            ],
            "summary":"Updates the tags of an event",
            "description":"Use this API to update all of the tags of an event. Tags are referenced by their tag ID.",
            "operationId":"update_6",
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "description":"The ID of the event object to update.",
                  "required":true,
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "description":"A list of tag IDs",
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        }
                     }
                  }
               }
            },
            "responses":{
               "404":{
                  "description":"Not Found.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401":{
                  "description":"Unauthorized.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503":{
                  "description":"Service Unavailable.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "500":{
                  "description":"Internal Server Error.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "403":{
                  "description":"Forbidden.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "504":{
                  "description":"Gateway Timeout.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "400":{
                  "description":"Bad Request.",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*":{
                        "schema":{
                           "$ref":"#/components/schemas/ErrorResponse"
                        }
[...]
