# Environment variables for Mongo DB
PLATFORM_API_TEST_MONGO_DATABASE=platform
PLATFORM_API_TEST_MONGO_PORT=27020
# uncomment the following line to keep the Mongo DB docker image
# PLATFORM_API_TEST_MONGO_TEARDOWN_OPTIONS=--volumes

# Environment variables for API Management Connector
DB_URL=mongodb://localhost:27020/platform?retryWrites=true&w=majority
PLATFORM_PORT=9095
FILE_USER_REGISTRY=test/integ/resources/users/management.json
APP_ID=platform-api-test-server
LOG_LEVEL=debug
# uncomment the following line to write server logs into a file (instead of stdout)
# LOG_FILE=test/integ/tmp/logs/v17.3.0/server.log

# Environment varibles for API Management Connector authentication
AUTH_EXTRACTION_USER_PRINCIPAL=$.upn
AUTH_EXTRACTION_ORGS=$.groups
AUTH_EXTRACTION_ROLES=$.resource_access['platform-api-server'].roles
AUTH_VERIFICATION_KEY=test/integ/resources/jwt_integration_test.pem
AUTH_VERIFICATION_ISSUER=http://localhost:8180/auth/realms/default
AUTH_VERIFICATION_AUD=platform-api-server
AUTH_DISCOVERY_OIDC_URL=http://localhost:8180/auth/realms/default/.well-known/openid-configuration

# Environment variables for test cases
PLATFORM_API_TEST_ENABLE_LOGGING=true
PLATFORM_API_TEST_PLATFORM_PROTOCOL=http
PLATFORM_API_TEST_PLATFORM_HOST=localhost
PLATFORM_API_TEST_PLATFORM_PORT=9095
PLATFORM_API_TEST_PLATFORM_ADMIN_USER={user}
PLATFORM_API_TEST_PLATFORM_ADMIN_PASSWORD={password}
PLATFORM_API_TEST_ORG_ADMIN_USER=org_admin_user
PLATFORM_API_TEST_ORG_ADMIN_PASSWORD=org_admin_user_password
PLATFORM_API_TEST_SOLACE_CLOUD_URL=https://api.solace.cloud/api/v0
PLATFORM_API_TEST_SOLACE_CLOUD_TOKEN={solace-cloud-token}
PLATFORM_API_TEST_SOLACE_EVENT_PORTAL_URL=https://api.solace.cloud/api/v0/eventPortal
PLATFORM_API_TEST_SOLACE_EVENT_PORTAL_TOKEN={solace-event-portal-token}
PLATFORM_API_TEST_SOLACE_CLOUD_SERVICE_ID_DEV=1i5g7tif6z8n
PLATFORM_API_TEST_SOLACE_CLOUD_SERVICE_ID_PROD=1n34cqfgy8jp
